@using okboba.Resources

@*
    Data model for answer template: {
        
    }    
*@
<script id="answerTemplate" type="text/x-jsrender">
    <div class="question-answered">
        <p>Question Text</p>
        <ul>
            <li>choice 1</li>
            <li>choice 2</li>
            <li>choice 3</li>
        </ul>
        <p>@i18n.Question_Prompt_Acceptable</p>
        <ul>
            <li>choice 1</li>
            <li>choice 2</li>
            <li>choice 3</li>
        </ul>
    </div>
</script>
