/******************
    Less Variables
*******************/
/*****************
    Shadows
******************/
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
/******************************
    Font, Icon, Divider colors
*******************************/
.opacity-text {
  opacity: .87;
  color: #000;
}
.opacity-secondary-text {
  opacity: .54;
  color: #000;
}
.opacity-disabled {
  opacity: .38;
}
.opacity-divider {
  opacity: .12;
}
.opacity-inverse-text {
  opacity: 1.0;
}
.opacity-inverse-secondary-text {
  opacity: .7;
}
.opacity-inverse-disabled {
  opacity: .3;
}
.opacity-inverse-divider {
  opacity: .12;
}
/**********************
    Bootstrap Overrides
***********************/
.navbar-brand {
  padding: 8px 30px;
}
.navbar-default {
  background-color: #FCE4EC;
  border-color: #FCE4EC;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/***************************
    Okboba Specific Sytles
****************************/
footer {
  margin-top: 20px;
  text-align: center;
}
body {
  padding-bottom: 25px;
}
.body-auth {
  padding-top: 90px;
  background-color: #880E4F;
}
.body-splash {
  background-image: url('Images/Shanghai-Skyline.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.body-anon {
  background-color: #F06292;
}
.container-auth {
  background-color: #FFF;
  padding: 40px;
}
.container-anon {
  background-color: #fff;
}
.photo-upload-background {
  background-color: lightgray;
  text-align: center;
  padding-top: 150px;
  height: 500px;
}
/* Hide the file input button */
label.photo-upload-label input[type="file"] {
  position: fixed;
  top: -1000px;
}
.photo-upload-label {
  font-size: 500%;
  opacity: 0.8;
}
.photo-upload-label:hover {
  cursor: pointer;
  color: darkblue;
}
.photo-thumbnail-selector {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  background-color: aqua;
}
.photo-upload-container {
  display: inline-block;
  position: relative;
}
.photo-upload-innercontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
}
.chinese-serif {
  font-family: KaiTi;
}
.chinese-sans {
  font-family: SimSun;
}
.profile-thumbnail {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  margin: 15px;
}
.profile-thumbnail-blurb {
  padding: 10px;
  opacity: .54;
  color: #000;
}
.row-centered {
  text-align: center;
}
.matches-container {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
}
.profile-details {
  border: 1px solid;
  background-color: #FCE4EC;
  border-color: #F06292;
  padding: 10px;
}
.profile-text {
  min-height: 100px;
}
.profile-text:hover {
  border: 1px solid;
}
.profile-text-edit {
  width: 100%;
  min-height: 100px;
}