@import "common";

.activity-feed-row,
.activity-feed-row:hover,
.activity-feed-row:active,
.activity-feed-row:focus
 {
    padding: 8px 15px;
    margin-bottom: 12px;
    color: @gray;
    font-family: @font-simsun;
    display: block;
}

.activity-feed-blurb {
    vertical-align: top;
    margin-left: 15px;
    display: inline-block;
}

.activity-avatar {
    .img-circle;
    width: 40px;
    height: 40px;
}