@import "common";

.matches-container {
   text-align: center;
}
.match-result {
    .shadow-z-1;
    display: inline-block; 
    margin: 10px 10px;
    text-align: left;
}
.matches-loading {   
    width: 125px;
    margin: 10px auto;
    padding: 5px;
    background-color: @gray-light;
    border: 1px solid @gray;    
}
