@import (reference) "common.less";

.conversation-row {
    padding: 10px;
    border-top: 1px solid lightgray;
}
.conversation-read {
    background-color: ghostwhite;
}
.conversation-blurb {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: lightpink;
    display: inline-block;
    margin: 0 10px 0 10px;
    vertical-align: middle;
}
.conversation-read .circle {
    opacity: 0;
}

//////////////////////////////////////////////////////
.message-row {
    .shadow-z-1;
    display: table;
    width: 100%;
}

.message-row-left,
.message-row-center,
.message-row-right {
    display: table-cell;
}

.message-row-left {
    width: 100px;
}

.message-row-right {
    width: 100px;
}