@import "common";

.grid {
    position: relative;
    margin-top: 20px;
}

.grid-item {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;    
}

.grid-item:hover {
    cursor: pointer;
}

.grid-item:hover .photo-edit-overlay {
    display: block;
}

.photo-edit-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    display: none;
}

.photo-thumbnail-full {
    border-radius: 6px;
}

.photo-on-screen {
    max-width: 800px;
    max-height: 900px;
    //height: auto;
}

.photo-sadface {
    width: 400px;
    margin: 30px auto;
    font-size: 1.5em;
    opacity: 0.5;
    text-align: center;
}