@import "common";

@match-percent-size: 72px;
@match-label-size: 0.5 * @match-percent-size;

.profile-header-photo {
    .shadow-z-1;
    display: inline-block;    
    margin-right: 15px;
    position:relative;
}
.profile-header-addphoto {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.profile-text {
    min-height: 100px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: @font-simsun;
    font-size: 1.2em;
    .opacity-text;
}

.profile-text-edit {
    width: 100%;
    min-height: 200px;
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-thumbnail {
    .shadow-z-2;
    width: 200px;
    margin: 15px;    
}

.profile-thumbnail-blurb {
    padding: 10px;
    .opacity-secondary-text;
}

/*****************************************

    Profile Detail Styles

******************************************/
.profile-detail-category {
    color: @primary-color-3;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5px;
}

.profile-detail-row {
    color: @gray-light;
    position: relative;
}

.profile-detail-overlay {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    color: @primary-color-2;
}

.profile-detail-overlay:empty::after {
    content: '--';
}

.profile-detail {
    color: @primary-color-2;
}

.profile-detail:empty::after {
    content: '--';
}

.profile-details {
    background-color: @primary-color-1;
    //padding: 6px 10px;
    padding: 6px 10px 8px;
    position: relative;
    margin-bottom: 10px;
}

.profile-details-me {
    .profile-details;
}

.profile-details-me:hover {
    cursor: pointer;
    background-color: lighten(@primary-color-1, 3%);
}

.pd-form-inline .form-group {
    //override bootstrap styles for form-groups within form-horizontal
    margin-left: 0;
    margin-right: 0;   
}

/***********************************

    Profile Header styles

************************************/
.profile-header-match {   
    color: @match-color;
    font-size: @match-percent-size;
    line-height: 1;
    display: inline-block;
    position: relative;
    top: -4px;
}

.profile-header-match-label {
    color: @match-color;
    font-size: @match-percent-size * 0.5;
    line-height: 1;
    vertical-align: top;
    display:inline-block
}

.profile-header-friendenemy-container{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    line-height: 1;
}

.profile-header-friend {
    color: @friend-color;
    font-size: 0.4 * @match-percent-size;    
    top: -2px;
    position: relative;
}

.profile-header-friend-label {
    color: @friend-color;
    font-size: 0.4 * @match-label-size;
    vertical-align: top;
    display: inline-block;
}

.profile-header-enemy {
    .profile-header-friend;
    color: @enemy-color;
}

.profile-header-enemy-label {
    .profile-header-friend-label;
    color: @enemy-color;
}

.profile-header-friend-container {
    border-bottom: 1px solid @gray-lighter;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.profile-header-info {
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    color: @gray-light;
    font-size: 18px;
    top: -4px;
    position: relative;
}

.profile-text-question {
    font-size: 1.7em;
    color: @primary-color-3;
}

.profile-text-placeholder {
    color: @gray-light;
    font-size: 1.2em;
    font-family: SimSun;
}

.profile-detail-editicon {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
}

.profile-avatar {
    width: 180px;
    height: 180px;
}

/*
    Edit Profile Detail Sytles
*/
/*.pd-modal-row {

}

.pd-modal-label {
    text-align: right;
    width: 70px;
    font-weight: normal;
}

.pd-modal-select {

}

.pd-modal-section-header {
    border-bottom: 1px solid darken(@primary-color-1,10%);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: @primary-color-3;
}

.pd-modal-form .form-group-sm {
    margin-bottom: 8px;
}

.pd-modal-form select.form-control {
    height: 25px;
}*/