@import "common";

.register-form {
    color: white;
}

#loginModal {
    top: 15%;
}

.login-button {
    margin-right: 20px;
    margin-top: 10px;
}

.register-lady {
    opacity: 0.8;
    margin-top: -20px;
    //margin-right: 10px;
}

.register-dialog-box {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    background-color: @primary-color-2;
    position: relative;
    opacity: 0.8;
    width: 180px;
    text-align: left;
    margin-top: -20px;
    margin-right: -20px;
    border-radius: 10px 10px 0 10px;
    font-size: 1.2em;
}

.chat-curve-register {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;    
    right: -20px;
}

.marketing-section {
    padding-bottom: 50px;
}