/******************
    Less Variables
*******************/
/*@light-gray: #F3F3F3;
@gray: #E8E8E8;*/
/*****************
    Shadows
******************/
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
/******************************
    Font, Icon, Divider colors
*******************************/
.opacity-text {
  opacity: .87;
  color: #000;
}
.opacity-secondary-text {
  opacity: .54;
  color: #000;
}
.opacity-disabled {
  opacity: .38;
}
.opacity-divider {
  opacity: .12;
}
.opacity-inverse-text {
  opacity: 1.0;
}
.opacity-inverse-secondary-text {
  opacity: .7;
}
.opacity-inverse-disabled {
  opacity: .3;
}
.opacity-inverse-divider {
  opacity: .12;
}
/**********************
    Bootstrap Overrides
***********************/
.container {
  border-radius: 6px;
}
.popover {
  max-width: 100%;
}
/***************************
    Okboba Specific Sytles
****************************/
footer {
  margin-top: 20px;
  text-align: center;
}
body {
  padding-bottom: 25px;
}
.body-auth {
  padding-top: 90px;
  background-color: #880E4F;
}
.body-splash {
  background-image: url('Images/Shanghai-Skyline.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.body-anon {
  background-color: #F06292;
}
.container-auth {
  background-color: #FFF;
  padding: 40px;
  min-height: 700px;
}
.container-anon {
  background-color: #fff;
}
.splash-buffer {
  position: relative;
  padding-top: 48%;
}
.splash-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.splash-navbar {
  padding: 10px;
  text-align: right;
}
.splash-container .container {
  padding-top: 8%;
}
.top-buffer {
  margin-top: 20px;
}
.top-buffer-100 {
  margin-top: 100px;
}
.top-buffer-50 {
  margin-top: 50px;
}
.row-centered {
  text-align: center;
}
/********************************************
    Bootstrap override - Navigation tab
*********************************************/
.nav-tabs > li {
  margin-bottom: -4px;
}
.nav-tabs > li > a {
  border: none;
  font-size: 1.2em;
  color: #dddddd;
  margin: 0;
}
.nav-tabs > li > a:hover {
  background-color: #FFFFFF;
  border: none;
  border-bottom: 4px solid pink;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 4px solid pink;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
/******************************************
    Bootstrap override - navigation bar
*******************************************/
.navbar-brand {
  padding: 8px 30px;
}
.navbar-default {
  background-color: #FCE4EC;
  border-color: #FCE4EC;
  border-width: 0;
  background-image: none;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav:first-child {
  padding-left: 25%;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
  color: #880E4F !important;
}
.profile-header-photo {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-right: 20px;
}
.profile-details {
  border: 1px solid;
  background-color: #FCE4EC;
  border-color: #F06292;
  padding: 10px;
}
.profile-text {
  min-height: 150px;
}
.profile-text:hover {
  border: 1px dashed;
  border-color: #F06292;
  cursor: pointer;
}
.profile-text-edit {
  width: 100%;
  min-height: 150px;
}
.profile-thumbnail {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  margin: 15px;
}
.profile-thumbnail-blurb {
  padding: 10px;
  opacity: .54;
  color: #000;
}
.matches-container {
  text-align: center;
}
.match-result {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin: 10px 10px;
  text-align: left;
}
.matches-loading {
  width: 125px;
  margin: 10px auto;
  padding: 5px;
  background-color: #777777;
  border: 1px solid #555555;
}
.question-form {
  background-color: #F5F5F0;
  padding: 10px;
  border: 1px solid lightgray;
}
.conversation-row {
  padding: 10px;
  border-top: 1px solid lightgray;
}
.conversation-read {
  background-color: ghostwhite;
}
.conversation-blurb {
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: lightpink;
  display: inline-block;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}
.conversation-read .circle {
  opacity: 0;
}
.photo-upload-background {
  background-color: lightgray;
  text-align: center;
  padding-top: 150px;
  height: 500px;
}
/* Hide the file input button */
label.photo-upload-label input[type="file"] {
  position: fixed;
  top: -1000px;
}
.photo-upload-label {
  font-size: 500%;
  opacity: 0.8;
}
.photo-upload-label:hover {
  cursor: pointer;
  color: darkblue;
}
.photo-thumbnail-selector {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  background-color: aqua;
}
.photo-upload-container {
  display: inline-block;
  position: relative;
}
.photo-upload-innercontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
}
#listThumbnails > div {
  float: left;
  margin: 5px;
}
#listThumbnails > div:hover {
  cursor: pointer;
}