/******************
    Less Variables
*******************/
/*****************
    Shadows
******************/
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
/******************************
    Font, Icon, Divider colors
*******************************/
.opacity-text {
  opacity: .87;
  color: #000;
}
.opacity-secondary-text {
  opacity: .54;
  color: #000;
}
.opacity-disabled {
  opacity: .38;
}
.opacity-divider {
  opacity: .12;
}
.opacity-inverse-text {
  opacity: 1.0;
}
.opacity-inverse-secondary-text {
  opacity: .7;
}
.opacity-inverse-disabled {
  opacity: .3;
}
.opacity-inverse-divider {
  opacity: .12;
}
/**********************
    Bootstrap Overrides
***********************/
.container {
  border-radius: 6px;
}
.control-label {
  font-weight: normal;
  font-size: 1.3em;
}
.form-group-lg > .control-label {
  font-size: 1.5em;
}
.help-block {
  margin-bottom: -5px;
}
.form-control[readonly] {
  background-color: #FFF;
}
/***************************
    Okboba Specific Sytles
****************************/
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #880E4F;
  padding-top: 25px;
}
body {
  margin: 0 0 120px;
}
.body-auth,
.body-anon {
  padding-top: 90px;
  background-color: #880E4F;
}
.body-splash {
  background-image: url('Images/Shanghai-Skyline.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.container-auth,
.container-anon {
  background-color: #FFF;
  padding: 30px 40px;
}
.splash-buffer {
  position: relative;
  padding-top: 48%;
}
.splash-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.splash-navbar {
  padding: 10px;
  text-align: right;
}
.splash-container .container {
  padding-top: 8%;
}
.top-buffer-10 {
  margin-top: 10px;
}
.top-buffer-20 {
  margin-top: 20px;
}
.top-buffer-30 {
  margin-top: 30px;
}
.top-buffer-50 {
  margin-top: 50px;
}
.top-buffer-100 {
  margin-top: 100px;
}
.row-centered {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.img-circle {
  border-radius: 50%;
}
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
a.div-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* Makes sure the link doesn't get underlined */
  z-index: 10;
  /* raises anchor tag above everything else in div */
  background-color: white;
  /*workaround to make clickable in IE */
  opacity: 0;
  /*workaround to make clickable in IE */
  filter: alpha(opacity=0);
  /*workaround to make clickable in IE */
}
/********************************************
    Bootstrap override - Navigation tab
*********************************************/
.nav-tabs > li {
  margin-bottom: -4px;
}
.nav-tabs > li > a {
  border: none;
  font-size: 1.2em;
  color: #9b9b9b;
  margin: 0;
}
.nav-tabs > li > a:hover {
  background-color: #FFFFFF;
  border: none;
  color: #333333;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 4px solid pink;
  color: #333333;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
  margin-top: 20px;
  margin-bottom: 30px;
}
/******************************************
    Bootstrap override - navigation bar
*******************************************/
.navbar-brand {
  padding: 6px 50px 6px 30px;
}
.navbar-default {
  background-color: #FCE4EC;
  border-color: #FCE4EC;
  border-width: 0;
  background-image: none;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
  color: #880E4F !important;
  line-height: 30px;
}
.navbar-right {
  margin-right: 0;
}
.profile-header-photo {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-right: 15px;
  position: relative;
}
.profile-header-addphoto {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.profile-text {
  min-height: 100px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", SimSun, "宋体", STXihei, "华文细黑", serif;
  font-size: 1.2em;
  opacity: .87;
  color: #000;
}
.profile-text-edit {
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  font-size: 16px;
}
.profile-thumbnail {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  margin: 15px;
}
.profile-thumbnail-blurb {
  padding: 10px;
  opacity: .54;
  color: #000;
}
/*****************************************

    Profile Detail Styles

******************************************/
.profile-detail-category {
  color: #880E4F;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
}
.profile-detail-row {
  color: #9b9b9b;
  position: relative;
}
.profile-detail-overlay {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  color: #D81B60;
}
.profile-detail-overlay:empty::after {
  content: '--';
}
.profile-detail {
  color: #D81B60;
}
.profile-detail:empty::after {
  content: '--';
}
.profile-details {
  background-color: #FCE4EC;
  padding: 6px 10px 8px;
  position: relative;
  margin-bottom: 10px;
}
.profile-details-me {
  background-color: #FCE4EC;
  padding: 6px 10px 8px;
  position: relative;
  margin-bottom: 10px;
}
.profile-details-me:hover {
  cursor: pointer;
  background-color: #fef2f6;
}
.pd-form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
/***********************************

    Profile Header styles

************************************/
.profile-header-match {
  color: #FF0066;
  font-size: 72px;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: -4px;
}
.profile-header-match-label {
  color: #FF0066;
  font-size: 36px;
  line-height: 1;
  vertical-align: top;
  display: inline-block;
}
.profile-header-friendenemy-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  line-height: 1;
}
.profile-header-friend {
  color: #0066FF;
  font-size: 28.8px;
  top: -2px;
  position: relative;
}
.profile-header-friend-label {
  color: #0066FF;
  font-size: 14.4px;
  vertical-align: top;
  display: inline-block;
}
.profile-header-enemy {
  color: #0066FF;
  font-size: 28.8px;
  top: -2px;
  position: relative;
  color: green;
}
.profile-header-enemy-label {
  color: #0066FF;
  font-size: 14.4px;
  vertical-align: top;
  display: inline-block;
  color: green;
}
.profile-header-friend-container {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.profile-header-info {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  color: #9b9b9b;
  font-size: 18px;
  top: -4px;
  position: relative;
}
.profile-text-question {
  font-size: 1.7em;
  color: #880E4F;
}
.profile-text-placeholder {
  color: #9b9b9b;
  font-size: 1.2em;
  font-family: SimSun;
}
.profile-detail-editicon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.7;
}
.profile-avatar {
  width: 180px;
  height: 180px;
}
/*
    Edit Profile Detail Sytles
*/
/*.pd-modal-row {

}

.pd-modal-label {
    text-align: right;
    width: 70px;
    font-weight: normal;
}

.pd-modal-select {

}

.pd-modal-section-header {
    border-bottom: 1px solid darken(@primary-color-1,10%);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: @primary-color-3;
}

.pd-modal-form .form-group-sm {
    margin-bottom: 8px;
}

.pd-modal-form select.form-control {
    height: 25px;
}*/
.matches-container {
  text-align: center;
}
.match-result {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin: 10px 10px;
  text-align: left;
  position: relative;
}
.match-avatar {
  position: absolute;
  margin-top: -20px;
  clip: rect(20px, 200px, 200px, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.match-avatar:hover {
  margin-top: 0;
  clip: rect(0, 200px, 180px, 0);
}
.match-info-wrapper {
  padding-top: 180px;
  width: 200px;
  text-align: center;
}
.matches-loading {
  /*width: 125px;
    margin: 10px auto;
    padding: 5px;
    background-color: @gray-light;
    border: 1px solid @gray;*/
  text-align: center;
  color: #9b9b9b;
  font-size: 1.5em;
  margin: 10px 0;
}
.question-form {
  background-color: #F5F5F0;
  padding: 15px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
  color: #555555;
}
.question-stats {
  background-color: #F5F5F0;
  text-align: center;
  padding: 20px 10px;
}
/*
    Custom input styles
    Reference: http://blog.karenmenezes.com/2014/nov/1/another-pure-css-checkbox-article/
*/
.checkbox-custom > input,
.radio-custom > input {
  display: none;
}
.checkbox-custom > label,
.radio-custom > label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  font-weight: normal;
}
.checkbox-custom > label:before,
.radio-custom > label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 8px;
  text-align: center;
  margin-top: -3px;
}
.checkbox-custom > input:checked + label:before {
  background: #f072b5;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-custom > label:before {
  border-radius: 50%;
}
.radio-custom > input:checked + label:before {
  background: #f072b5;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
/*******************************
    Styles for the Question importance bars
*********************************/
.question-importance-bars {
  margin-top: 5px;
}
.question-importance-bar {
  width: 130px;
  height: 16px;
  border-radius: 4px;
  background-color: #c1c1c1;
  cursor: pointer;
  margin-right: 4px;
  margin-top: 5px;
}
.question-importance-bar.active {
  background-color: #D81B60;
}
/*******************************
    Styles for the comparing Answers
*********************************/
.question-choice-fade {
  opacity: 0.5;
}
.question-choice-bold {
  font-weight: bold;
}
.question-choice-strike {
  text-decoration: line-through;
}
.question-choice-green {
  color: #00cc00;
}
.question-choice-red {
  color: #d60000;
}
.question-me-list {
  list-style-type: none;
  padding-left: 0;
}
.question-me-list li {
  padding-left: 40px;
}
.question-choice-check::before {
  content: '\2714';
  margin-left: -40px;
  width: 40px;
  display: inline-block;
  text-align: center;
}
.question-choice-bullet::before {
  content: '\2022';
  margin-left: -40px;
  width: 40px;
  display: inline-block;
  text-align: center;
}
.question-answered {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #f9f9f6;
  padding: 15px  20px;
  color: #555555;
  margin-bottom: 15px;
  position: relative;
  font-size: 18px;
}
.question-answered-me {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #f9f9f6;
  padding: 15px  20px;
  color: #555555;
  margin-bottom: 15px;
  position: relative;
  font-size: 18px;
  font-size: 16px;
}
.question-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
.question-unanswered-wrapper {
  display: table;
  width: 100%;
}
.question-unanswered-text {
  display: table-cell;
}
.question-unanswered-button {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100px;
}
.conversation-row {
  padding: 10px;
  border-top: 1px solid lightgray;
}
.conversation-read {
  background-color: ghostwhite;
}
.conversation-blurb {
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: lightpink;
  display: inline-block;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}
.conversation-read .circle {
  opacity: 0;
}
.message-row {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: table;
  width: 100%;
}
.message-row-left,
.message-row-center,
.message-row-right {
  display: table-cell;
}
.message-row-left {
  width: 100px;
}
.message-row-right {
  width: 100px;
}
.grid {
  position: relative;
  margin-top: 20px;
}
.grid-item {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}
.grid-item:hover {
  cursor: pointer;
}
.photo-edit-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  padding: 10px 5px;
  width: 100%;
  text-align: center;
  display: none;
}
.photo-thumbnail-full {
  border-radius: 6px;
}
.photo-on-screen {
  max-width: 800px;
  height: auto;
}
.photo-sadface {
  width: 400px;
  margin: 30px auto;
  font-size: 1.5em;
  opacity: 0.5;
  text-align: center;
}
.register-form {
  color: white;
}
#loginModal {
  top: 15%;
}
.login-button {
  margin-right: 20px;
  margin-top: 10px;
}
.register-lady {
  opacity: 0.8;
  margin-top: -20px;
}
.register-dialog-box {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  background-color: #D81B60;
  position: relative;
  opacity: 0.8;
  width: 180px;
  text-align: left;
  margin-top: -20px;
  margin-right: -20px;
  border-radius: 10px 10px 0 10px;
  font-size: 1.2em;
}
.chat-curve-register {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: -20px;
}
.marketing-section {
  padding-bottom: 50px;
}
.chat-slider {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 270px;
  height: 400px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-sizer {
  display: table;
  width: 100%;
  height: 100%;
}
.chat-header-row {
  display: table-row;
  height: 1px;
}
.chat-msg-row {
  display: table-row;
  height: auto;
}
.chat-input-row {
  display: table-row;
  height: 1px;
}
.chat-header {
  background: #D81B60;
  height: 31px;
  border-radius: 5px 5px 0 0;
  padding: 3px 6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.chat-remove,
.chat-minimize {
  cursor: pointer;
  float: right;
  opacity: 0.7;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #FFF;
}
.chat-remove > .glyphicon,
.chat-minimize > .glyphicon {
  vertical-align: middle;
}
.chat-remove:hover,
.chat-minimize:hover {
  background-color: #ed6c9b;
}
.chat-header-title {
  vertical-align: middle;
  color: #FFF;
  opacity: 1.0;
}
.chat-messages {
  background: #eeeeee;
  height: 100%;
  position: relative;
}
.chat-messages-inner {
  padding: 6px 6px 6px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.chat-dialog-me {
  display: inline-block;
  padding: 5px;
  background-color: #ffffb3;
  border-radius: 5px 0 5px 5px;
  text-align: left;
}
.chat-dialog-them {
  display: inline-block;
  padding: 5px;
  background-color: #b3ffb3;
  border-radius: 0 5px 5px 5px;
}
.chat-dialog-them-wrapper {
  position: relative;
  margin-left: 41px;
  margin-bottom: 10px;
}
.chat-dialog-me-wrapper {
  text-align: right;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.chat-dialog-avatar {
  position: absolute;
  left: -41px;
  top: 0;
  border-radius: 50%;
}
.chat-dialog-curve-them {
  position: absolute;
  left: -10px;
  top: 0;
}
.chat-dialog-curve-me {
  position: absolute;
  top: 0;
  right: -10px;
}
.chat-input-wrapper {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
}
.chat-input {
  padding: 8px 8px 8px 33px;
  max-height: 7em;
  overflow-y: auto;
  position: relative;
  background-color: #FFF;
}
.chat-input-emo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 33px;
  text-align: center;
}
.chat-input-emo-button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}
.chat-input-placeholder {
  position: absolute;
  opacity: 0.4;
  left: 40px;
  top: 8px;
}
/* Placeholder for Contenteditable DIV */
[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  opacity: 0.5;
}
.chat-emoticon-row {
  display: table-row;
  height: 0px;
}
.chat-emoticon-slider {
  display: none;
}
.chat-emoticon-nav {
  background-color: #e6e6e6;
  display: block;
  margin: 0;
  padding: 0;
  border-top: solid 1px #9b9b9b;
}
.chat-emoticon-nav > li {
  display: inline-block;
  opacity: 0.8;
  padding: 3px 5px;
  cursor: pointer;
  margin: 0;
}
.chat-emoticon-nav > li.active {
  background-color: #ffffcc;
  opacity: 1;
}
.chat-emoticon-chooser {
  display: block;
  height: 150px;
  background-color: #ffffcc;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.chat-emoticon-chooser > li {
  display: inline-block;
  padding: 3px;
}
.chat-emoticon-chooser > li:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
img.emoji {
  height: 1.5em;
  width: 1.5em;
  margin: 0 .1em 0 .2em;
  vertical-align: -0.3em;
}
.chat-emoticon-close {
  float: right;
  opacity: 0.3 !important;
}
/**********************************

    Activity Feed styles

***********************************/
.activity-feed-row {
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  min-height: 70px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.activity-avatar {
  border-radius: 50%;
  position: relative;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
}
.activity-feed-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  text-align: center;
}
.activity-feed-content {
  margin-left: 80px;
  padding: 10px 10px 10px 0;
}
.activity-summary {
  color: #9b9b9b;
  font-size: 1.1em;
  font-style: italic;
}
.activity-profiletext {
  color: #880E4F;
  padding-left: 20px;
  margin-bottom: 10px;
}
.activity-thumbnail {
  height: 100px;
  opacity: 0.8;
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.activity-question {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.4em;
  color: #555555;
}
/****************************************
    Photo Upload
****************************************/
.photo-upload-background {
  background-color: lightgray;
  text-align: center;
  padding-top: 150px;
  height: 500px;
}
label.photo-upload-label input[type="file"] {
  position: fixed;
  top: -1000px;
}
.photo-upload-label {
  font-size: 500%;
  opacity: 0.8;
}
.photo-upload-label:hover {
  cursor: pointer;
  color: darkblue;
}
.photo-thumbnail-selector {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  background-color: #FFEB3B;
}
.photo-thumbnail-selector:hover {
  cursor: pointer;
}
.photo-thumbnail-bounds {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
}
.photo-upload-container {
  display: inline-block;
  position: relative;
}
.photo-modal-bg {
  background-color: #9b9b9b;
  text-align: center;
}
#listThumbnails > div {
  float: left;
  margin: 5px;
}
#listThumbnails > div:hover {
  cursor: pointer;
}
/****************************************
    Edit-in-place
****************************************/
.js-editinplace-editicon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #eeeeee;
  opacity: 0.7;
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
}
/****************************************
    Location box
****************************************/
.location-picker-container {
  position: absolute;
  z-index: 100;
  display: inline-block;
  background-color: #FFF;
  padding: 5px;
  width: 380px;
  border-radius: 3px;
  color: #000;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
/****************
  Footer Styles
*****************/
footer {
  line-height: 1.8em;
  font-size: 1.2em;
}
footer a,
footer a:visited,
footer a:active,
footer a:hover {
  color: #cd1577;
}
footer a:hover {
  color: #b6136a;
  text-decoration: none;
}
/*
footer a:active {
    color: #FFF;
}*/