/******************
    Less Variables
*******************/
/*****************
    Shadows
******************/
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.shadow-z-1-hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.shadow-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
/******************************
    Font, Icon, Divider colors
*******************************/
.opacity-text {
  opacity: .87;
  color: #000;
}
.opacity-secondary-text {
  opacity: .54;
  color: #000;
}
.opacity-disabled {
  opacity: .38;
}
.opacity-divider {
  opacity: .12;
}
.opacity-inverse-text {
  opacity: 1.0;
}
.opacity-inverse-secondary-text {
  opacity: .7;
}
.opacity-inverse-disabled {
  opacity: .3;
}
.opacity-inverse-divider {
  opacity: .12;
}
/**********************
    Bootstrap Overrides
***********************/
.container {
  border-radius: 6px;
}
.popover {
  max-width: 100%;
}
.control-label {
  font-weight: normal;
  font-size: 1.3em;
}
/***************************
    Okboba Specific Sytles
****************************/
footer {
  margin-top: 20px;
  text-align: center;
}
body {
  padding-bottom: 25px;
}
.body-auth {
  padding-top: 90px;
  background-color: #880E4F;
}
.body-splash {
  background-image: url('Images/Shanghai-Skyline.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.body-anon {
  background-color: #F06292;
}
.container-auth {
  background-color: #FFF;
  padding: 30px 40px;
  min-height: 1200px;
}
.container-anon {
  background-color: #fff;
}
.splash-buffer {
  position: relative;
  padding-top: 48%;
}
.splash-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.splash-navbar {
  padding: 10px;
  text-align: right;
}
.splash-container .container {
  padding-top: 8%;
}
.top-buffer-10 {
  margin-top: 10px;
}
.top-buffer-20 {
  margin-top: 20px;
}
.top-buffer-30 {
  margin-top: 30px;
}
.top-buffer-50 {
  margin-top: 50px;
}
.top-buffer-100 {
  margin-top: 100px;
}
.row-centered {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
/********************************************
    Bootstrap override - Navigation tab
*********************************************/
.nav-tabs > li {
  margin-bottom: -4px;
}
.nav-tabs > li > a {
  border: none;
  font-size: 1.2em;
  color: #9b9b9b;
  margin: 0;
}
.nav-tabs > li > a:hover {
  background-color: #FFFFFF;
  border: none;
  color: #333333;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 4px solid pink;
  color: #333333;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
  margin-top: 20px;
  margin-bottom: 30px;
}
/******************************************
    Bootstrap override - navigation bar
*******************************************/
.navbar-brand {
  padding: 8px 30px;
}
.navbar-default {
  background-color: #FCE4EC;
  border-color: #FCE4EC;
  border-width: 0;
  background-image: none;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav:first-child {
  padding-left: 25%;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
  color: #880E4F !important;
}
.profile-header-photo {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin-right: 15px;
  position: relative;
}
.profile-header-addphoto {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.profile-text {
  min-height: 100px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: Georgia, "Times New Roman", SimSun, "宋体", STXihei, "华文细黑", serif;
  font-size: 1.2em;
  opacity: .87;
  color: #000;
}
.profile-text-edit {
  width: 100%;
  min-height: 200px;
}
.profile-thumbnail {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  margin: 15px;
}
.profile-thumbnail-blurb {
  padding: 10px;
  opacity: .54;
  color: #000;
}
.profile-detail-category {
  text-align: center;
}
.profile-detail-row {
  color: #9b9b9b;
  font-family: SimSun;
}
.profile-header-match {
  color: #FF0066;
  font-size: 72px;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: -4px;
}
.profile-header-match-label {
  color: #FF0066;
  font-size: 36px;
  line-height: 1;
  vertical-align: top;
  display: inline-block;
}
.profile-header-friendenemy-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  line-height: 1;
}
.profile-header-friend {
  color: #0066FF;
  font-size: 28.8px;
  top: -2px;
  position: relative;
}
.profile-header-friend-label {
  color: #0066FF;
  font-size: 14.4px;
  vertical-align: top;
  display: inline-block;
}
.profile-header-enemy {
  color: #0066FF;
  font-size: 28.8px;
  top: -2px;
  position: relative;
  color: green;
}
.profile-header-enemy-label {
  color: #0066FF;
  font-size: 14.4px;
  vertical-align: top;
  display: inline-block;
  color: green;
}
.profile-header-friend-container {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.profile-header-info {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
  color: #9b9b9b;
  font-size: 18px;
  top: -4px;
  position: relative;
}
.profile-text-question {
  font-size: 1.7em;
  color: #880E4F;
}
.profile-text-placeholder {
  color: #9b9b9b;
  font-size: 1.2em;
  font-family: SimSun;
}
.profile-detail-editicon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-details {
  border: 1px solid;
  background-color: #FCE4EC;
  border-color: #F06292;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.profile-details-me {
  border: 1px solid;
  background-color: #FCE4EC;
  border-color: #F06292;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.profile-details-me:hover {
  cursor: pointer;
  background-color: #fef2f6;
}
.matches-container {
  text-align: center;
}
.match-result {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  margin: 10px 10px;
  text-align: left;
}
.matches-loading {
  width: 125px;
  margin: 10px auto;
  padding: 5px;
  background-color: #9b9b9b;
  border: 1px solid #555555;
}
.question-form {
  background-color: #F5F5F0;
  padding: 15px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  font-size: 18px;
  color: #555555;
}
/*
    Custom input styles
    Reference: http://blog.karenmenezes.com/2014/nov/1/another-pure-css-checkbox-article/
*/
.checkbox-custom > input,
.radio-custom > input {
  display: none;
}
.checkbox-custom > label,
.radio-custom > label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  font-weight: normal;
}
.checkbox-custom > label:before,
.radio-custom > label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 8px;
  text-align: center;
  margin-top: -3px;
}
.checkbox-custom > input:checked + label:before {
  background: #f072b5;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-custom > label:before {
  border-radius: 50%;
}
.radio-custom > input:checked + label:before {
  background: #f072b5;
  box-shadow: inset 0px 0px 0px 4px #fff;
}
.question-importance-box {
  margin-top: 5px;
}
.question-importance-bar {
  width: 130px;
  height: 16px;
  border-radius: 4px;
  background-color: #c1c1c1;
  cursor: pointer;
  margin-right: 4px;
  margin-top: 5px;
}
.question-importance-bar.active {
  background-color: #F06292;
}
.conversation-row {
  padding: 10px;
  border-top: 1px solid lightgray;
}
.conversation-read {
  background-color: ghostwhite;
}
.conversation-blurb {
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: lightpink;
  display: inline-block;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}
.conversation-read .circle {
  opacity: 0;
}
.grid {
  position: relative;
  margin-top: 20px;
}
.grid-item {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}
.grid-item:hover {
  cursor: pointer;
}
.photo-edit-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  padding: 10px 5px;
  width: 100%;
  text-align: center;
  display: none;
}
.photo-thumbnail-full {
  border-radius: 6px;
}
.photo-on-screen {
  max-width: 800px;
  height: auto;
}
.photo-sadface {
  width: 400px;
  margin: 30px auto;
  font-size: 1.5em;
  opacity: 0.5;
  text-align: center;
}
.register-form {
  font-size: 1.4em;
  color: white;
}
/****************************************
    Photo Upload
****************************************/
.photo-upload-background {
  background-color: lightgray;
  text-align: center;
  padding-top: 150px;
  height: 500px;
}
label.photo-upload-label input[type="file"] {
  position: fixed;
  top: -1000px;
}
.photo-upload-label {
  font-size: 500%;
  opacity: 0.8;
}
.photo-upload-label:hover {
  cursor: pointer;
  color: darkblue;
}
.photo-thumbnail-selector {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  background-color: #FFEB3B;
}
.photo-thumbnail-selector:hover {
  cursor: pointer;
}
.photo-thumbnail-bounds {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
}
.photo-upload-container {
  display: inline-block;
  position: relative;
}
.photo-modal-bg {
  background-color: #9b9b9b;
  text-align: center;
}
#listThumbnails > div {
  float: left;
  margin: 5px;
}
#listThumbnails > div:hover {
  cursor: pointer;
}
/****************************************
    Edit-in-place
****************************************/
.js-editinplace-editicon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #eeeeee;
  opacity: 0.7;
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
}
/****************************************
    Location box
****************************************/
.location-box {
  position: absolute;
  z-index: 100;
  display: inline-block;
  background-color: #FFF;
  padding: 5px;
  width: 370px;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}