
@{
    ViewBag.Title = "Messages";
}


<div class="row">
    <!-- Vertical navigatio menu -->
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Inbox</a></li>
            <li role="presentation"><a href="#">Sent</a></li>
        </ul>
    </div>
    <!-- Message list -->
    <div class="col-md-9">
        <h3>Your Messages</h3>

        <!-- A Conversation -->
        <a href="#" style="text-decoration: none;">
            <div class="conversation-row">
                <!-- circle indicating unread -->
                <div class="circle"></div>
                <!-- thumbnail -->
                <img src="~/Content/Images/none.gif" width="80" alt="Alternate Text" />
                <!-- blurb -->
                <div class="conversation-blurb">Jonathan - Hi <br /> <span class="text-muted small"><i>hello this is a blurb message</i></span> </div>
                <div style="float: right"><i>10/200/2009</i></div>
            </div>
        </a>
        <!-- A Conversation -->
        <div class="conversation-row conversation-read">
            <!-- circle indicating unread -->
            <span class="circle"></span>
            <!-- thumbnail -->
            <img src="~/Content/Images/none.gif" width="80" alt="Alternate Text" />
            <!-- blurb -->
        </div>
        <!-- A Conversation -->
        <div class="conversation-row conversation-read">
            <!-- circle indicating unread -->
            <span class="circle"></span>
            <!-- thumbnail -->
            <img src="~/Content/Images/none.gif" width="80" alt="Alternate Text" />
            <!-- blurb -->
            Jonathan - Hi
        </div>
        <!-- A Conversation -->
        <div class="conversation-row conversation-read">
            <!-- circle indicating unread -->
            <span class="circle"></span>
            <!-- thumbnail -->
            <img src="~/Content/Images/none.gif" width="80" alt="Alternate Text" />
            <!-- blurb -->
            Jonathan - Hi
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>



