@using okboba.Resources
@using okboba.Web.Models

@{
    ViewBag.Title = "Messages";
}

@Html.Partial("_MessagesHeader", new MessagesHeaderViewModel { Section = i18n.Nav_Messages_Received })

<div class="row">
    <div class="col-md-8">
        <!-- List of messages -->
        <div class="message-row">
            <div class="message-row-left">left</div>
            <div class="message-row-center">center</div>
            <div class="message-row-right">right</div>
        </div>
    </div>
</div>