@using okboba.Resources
@*
    data = {
        current: {currently selected location}
        top: [array of locations]
        first: [array of locations]
        second: [array of locations]
        third: [array of locations]
        fourth: [array of locations]
    }
*@
<script id="locationPickerTemplate" type="text/x-jsrender">

    <div>你在哪？</div>

    {{if hot}}
    <div>
        热门城市:
        {{for hot}}
        <a href="#" data-id="{{:LocationId}}">{{:LocationName}}</a>
        {{/for}}
    </div>
    {{/if}}

    {{if current}}
    <div>你选择: <a href="#" data-step="1">{{:current.LocationName}}</a></div>
    {{/if}}

    <div>
        <span>A-G:</span>
        <span>
            {{for first}}
            <a href="#" data-id="{{:LocationId}}">{{:LocationName}}</a>
            {{/for}}
        </span>
    </div>
    <div>
        <span>H-L:</span>
        {{for second}}
        <a href="#" data-id="{{:LocationId}}">{{:LocationName}}</a>
        {{/for}}
    </div>
    <div>
        <span>M-S:</span>
        {{for third}}
        <a href="#" data-id="{{:LocationId}}">{{:LocationName}}</a>
        {{/for}}
    </div>
    <div>
        <span>T-Z:</span>
        {{for fourth}}
        <a href="#" data-id="{{:LocationId}}">{{:LocationName}}</a>
        {{/for}}
    </div>

</script>
