<!-- Marketing section -->
<div class="container marketing-section">
    <div class="row">
        <div class="col-md-12">
            <center><h2>一个约会网站，更聪明。</h2></center>
        </div>
    </div>
    <div class="row top-buffer-50">
        <div class="col-md-4">
            <img src="~/Content/Images/girl-studying-math.jpg" alt="Alternate Text" class="pull-left" style="padding-right: 10px;" />
            一个约会网站，让您匹配基础上的问题你回答。您可以通过回答问题设计自己的匹配算法。随着数百个问题的许多议题回答，我们将能够排名潜在的日期，并显示您的最佳匹配。
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/head-scratch.png" alt="Alternate Text" class="pull-left" style="padding-right: 15px;" />
            基于数百对夫妻的心理学研究。当你回答不够的问题，我们可以构建基于十二人格特质是影响婚姻的一个peronality轮廓。您也可以与别人比较你的答案，看看其他人怎么回答！
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/nomoney.png" alt="Alternate Text" class="pull-left" style="padding-right: 10px;" />
            自由！您没有订阅或支付任何费用，以寻找和消息相匹配。
        </div>
    </div>
</div>
