@model IList<okboba.Entities.Profile>
@using okboba.Web.Helpers

<div class="active-users-box">
    @foreach (var profile in Model)
    {
        <a href="/profile/@profile.UserId">@Html.Avatar(profile, "active-avatar", true)</a>        
    }
</div>
