@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Your recommended matches</h3>
    <hr />
    this is a horizontal list of recommended matches for user
</div>

<div class="row">
    <div class="col-md-7">
        @Html.Action("ActivityFeed")
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div>
            this is a box where user can answer questions
        </div>
        <div>
            this is a box showing all the online users
        </div>
    </div>
</div>

@section Scripts {

}