@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_MatchCarousel")

<div class="row">
    <div class="col-md-7">
        @Html.Action("ActivityFeed")
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div>
            this is a box where user can answer questions
        </div>
        <div>
            this is a box showing all the online users
        </div>
    </div>
</div>

@section Scripts {
    
}