@model okboba.Models.ProfileViewModel
    @{
        ViewBag.Title = "Profile";
    }

    <!-- Profile Header -->
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-4"><img src="~/Content/Images/wedding_beach.jpg" /></div>
                <div class="col-sm-4">
                    <p class="h3">Jonathan</p>
                    <p>30 M - Shanghai, China</p>
                </div>
                <div class="col-sm-4"><h1>87 %</h1></div>
            </div>
            <hr />
        </div>
        <div class="col-md-3">
            <!--Empty spacer-->
        </div>
    </div>

    <!-- Profile Details -->
    <div class="row">
        <div class="col-md-9">
            <h2></h2>
            <p>This is some text</p>
            <h2>About Yourself</h2>
            <p>This is some text</p>
            <h2>About Yourself</h2>
            <p>This is some text</p>
            <h2>About Yourself</h2>
            <p>This is some text</p>
            <h2>About Yourself</h2>
            <p>This is some text</p>
        </div>
        <div class="col-md-3">
            <div class="profile-details">
                some details<br />
                some details<br />
                some details<br />
                some details<br />
                some details<br />
                some details<br />
                some details<br />
                some details<br />
                some details<br />
                some details<br />
            </div>
        </div>
    </div>