<script id="chatSliderTemplate" type="text/x-jsrender">
    <div class="chat-slider">
        <div class="chat-sizer">
            <div class="chat-header-row">
                <div class="chat-header">
                    <span class="chat-header-title">Title</span>
                    <div class="chat-remove"><span class="glyphicon glyphicon-remove"></span></div>
                    <div class="chat-minimize"><span class="glyphicon glyphicon-chevron-down"></span></div>                    
                </div>
            </div>
            <div class="chat-msg-row">
                <div class="chat-messages">
                    @*<div class="chat-me">
                        <div class="chat-dialog-me">short msg</div>
                    </div>
                    <div class="chat-them">
                        <div class="chat-avatar">
                            <img src="/Content/images/no-avatar-female-chat.png" class="chat-avatar-img" width="35" height="35" alt="Avatar" />
                        </div>                        
                        <div class="chat-dialog-them">this is a message this is a message this is a message</div>
                    </div>*@
                </div>
            </div>
            <div class="chat-input-row">
                <div class="chat-input" contenteditable="true">
                    input
                </div>
            </div>
        </div>
    </div>
</script>
