<script id="chatSliderTemplate" type="text/x-jsrender">
    <div class="chat-slider">
        <div class="chat-head">
            header
        </div>
        <div class="chat-messages">
            messages<br />
            messages<br />messages<br />messages<br />messages<br />messages<br />
            messages<br />messages<br />messages<br />messages<br />messages<br />messages<br />
            messages<br />messages<br />messages<br />messages<br />messages<br />messages<br />messages<br />
            messages<br />messages<br />messages<br />messages<br />
        </div>
        <div class="chat-input" contenteditable="true">
            input
        </div>
    </div>
</script>
