@model okboba.Web.Models.PhotoViewModel
@{
    ViewBag.Title = "Profile Photos";
}

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#photoUploadModal">Add Photo</button>
<button type="button" class="btn btn-default">Change Order</button>


@foreach (var p in Model.Photos)
{
    <img src="@(Model.ContentUrl + p.ImageFilename)" alt="Alternate Text" />
    <button class="btn btn-default">Edit Thumbnail</button>
    <button type="button" class="btn btn-default">Delete Photo</button>    
}

<!-- Modal -->
<div class="modal fade" id="photoUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload your photo</h4>
            </div>
            <div class="modal-body">
                <input type="file" name="name" value="value" class="form-control" id="fileInput" />
                <img src="#" alt="Alternate Text" id="fileImage" width="800"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/okboba")
    @Scripts.Render("~/bundles/filereader")

    <script>
        var opts = {
            on: {
                load: function (e, file) {
                    $('#fileImage').attr('src', e.target.result);
                },
                error: function (e, file) {
                    alert('error');
                }
            }            
        }

        $('#fileInput').fileReaderJS(opts);

    </script>
}