<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://okboba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>okboba.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>okboba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$okboba</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=okboba.database.windows.net;Initial Catalog=okboba_db;Persist Security Info=True;User ID=okboba;Password=_Pass8156" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="okboba.Entities.OkbDbContext, okboba.Entities" MigrationConfiguration="okboba.Entities.Migrations.Configuration, okboba.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=okboba;AccountKey=AaKNQigwKno8Iqy6lVWGbYqmcXnOfVtT1Vv9uKAfo5uwsfgi5sWfJin46AtIeiYMcmr20a48HsfMF7+wxFzJCw==;BlobEndpoint=https://okboba.blob.core.windows.net/;TableEndpoint=https://okboba.table.core.windows.net/;QueueEndpoint=https://okboba.queue.core.windows.net/;FileEndpoint=https://okboba.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=okboba;AccountKey=AaKNQigwKno8Iqy6lVWGbYqmcXnOfVtT1Vv9uKAfo5uwsfgi5sWfJin46AtIeiYMcmr20a48HsfMF7+wxFzJCw==;BlobEndpoint=https://okboba.blob.core.windows.net/;TableEndpoint=https://okboba.table.core.windows.net/;QueueEndpoint=https://okboba.queue.core.windows.net/;FileEndpoint=https://okboba.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=okboba.database.windows.net;Initial Catalog=okboba_db;Persist Security Info=True;User ID=okboba;Password=_Pass8156</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>